/*custom*/

.con-wrap{min-width: 1160px; margin: 0 auto;}
.con-max-width {max-width: 1160px; margin: 0 auto; padding: 0 20px; box-sizing: border-box;}
.flex{display: flex;}


/*col*/
.col-1{width:40px;}
.col-2{width:160px;}
.col-3{width:280px;}
.col-4{width:400px;}
.col-5{width:440px;}


/*margin*/
.mb40{margin-bottom: 40px!important;}
.mb80{margin-bottom: 80px!important;}


/*text*/
h1{font-size: 4.5rem !important;}
h2{font-size: 4rem !important;}
h3{font-size: 3.5rem !important;}
h4{font-size: 3rem !important;}
h5{font-size: 2.5rem !important;}
h6{font-size: 2rem !important;}

.sub_title{
    font-family: 'Newyork';
    text-transform: uppercase;
    letter-spacing: 1rem;
}

/*나중에 지울거*/
.grid {border : 1px solid #808080 !important;}
