/*layout*/

.wrap{min-width: 1160px; margin: 0 auto;}
.con-max-width {max-width: 1160px; margin: 0 auto; padding:0 20px; box-sizing: border-box; /*border:1px solid #808080;*/}
.flex{display: flex;}
.relative {position: relative;}
.center-set {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}


/*col*/
.col-1{width:40px;}
.col-2{width:160px;}
.col-3{width:280px;}
.col-4{width:400px;}
.col-5{width:440px;}


/*margin*/
.mb40{margin-bottom: 40px;}
.mb60{margin-bottom: 60px;}
.mb80{margin-bottom: 80px;}
.mb100{margin-bottom: 100px;}
.mt100{margin-top: 100px;}
.mt80{margin-top: 80px;}


/*padding*/
.pt60 {padding-top: 60px; box-sizing: border-box;}
.pt80 {padding-top: 80px; box-sizing: border-box;}
.pt100 {padding-top: 100px; box-sizing: border-box;}
.pb80 {padding-bottom: 80px; box-sizing: border-box;}

/*text*/
.title1,.title2,.title3,.title4,.title5,.title6,.title7{font-weight: 600;}
.title1{font-size: 4.5rem !important;}
.title2{font-size: 4rem !important;}
.title3{font-size: 3.5rem !important;}
.title4{font-size: 3rem !important;}
.title5{font-size: 2.5rem !important;}
.title6{font-size: 2rem !important;} 
.title7{font-size: 20px; text-transform: uppercase; padding-bottom: 80px; padding-top: 80px; box-sizing: border-box !important;}

.sub_title{
    font-family: 'Newyork';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: -0.1em;
}


.material-icons{vertical-align: text-bottom; margin-left: 4px}


/*color*/
:root{
    --main-color : #0BBBC6;
    --gray-defalt : #767676;
    --gray-light-100 : #f5f5f5;
}

/*img*/
figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div[class*="bg-circle"]{
    border : 1px solid var(--main-color);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    z-index: -10;
}

h3::before {
    content: "";
    width : 1rem;
    height: 1rem;
    background-color: var(--main-color);
    border-radius: 50%;;
    opacity: 50%;
    display: inline-block;
    margin-right: 8px;
    vertical-align: bottom;
}


