@import url(../css/custom.css);
@import url(../css/reset.css);


@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Light-subset2.woff2') format('woff2'),
       url('../font/NotoSansKR-Light-subset2.woff') format('woff'),
       url('../font/NotoSansKR-Light-subset2.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Medium-subset2.woff2') format('woff2'),
       url('../font/NotoSansKR-Medium-subset2.woff') format('woff'),
       url('../font/NotoSansKR-Medium-subset.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Bold-subset2.woff2') format('woff2'),
       url('../font/NotoSansKR-Bold-subset2.woff') format('woff'),
       url('../font/NotoSansKR-Bold-subset.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Newyork';
  src: url('../font/Newyork-subset2.woff2') format('woff2'),
       url('../font/Newyork-subset2.woff') format('woff'),
       url('../font/Newyork-subset.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html{
    
}

body{
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 16px;
    word-spacing: -0.8em;
    letter-spacing: -0.04em; 
    overflow-x: hidden;
}

section{
    padding : 80px 0;
    box-sizing: border-box;
}



/*nav*/
header{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
}
#menu{
    background-color: #ffffff;
    width: 1160px;
    margin : 0 auto;
}
#menu > ul{
    display: flex;
    justify-content: flex-end;
}

#menu > ul > li {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
}



/*section1 - home*/
#home{
    display: flex;
    justify-content: space-between;
    padding: 160px 20px 80px 20px;
}

#home > div > p{
    text-transform: uppercase;
    font-weight: 700;
}

#home > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#home > div:nth-child(2) >img{
    margin-bottom: 25px;
    margin-top:64px;
}

#home > div:nth-child(2) > .img_1{
    position: absolute;
    z-index: 10;
    top : -10%;
    transform-origin: bottom center;
    animation: play-state 20s linear infinite;
    animation-name: rotate;
}

@-webkit-keyframes rotate{
    20%{
        transform: rotate(72deg);
    }

    40%{
        transform: rotate(144deg);
    }
    
    60%{
        transform: rotate(216deg);
    }
    
    80%{
        transform:rotate(288deg);
    }
    
    100%{
        transform:rotate(360deg);
    }

}



#home > div:last-child{
    display: flex;
    align-items: flex-end;
    height: 680px;
}


/*section2 - about*/
.about_1,.about_1>ul, .about_2{
    display: flex;
}

.about_1{
    position: relative;
    justify-content: space-between;
}
.about_1  p{
    text-transform: uppercase;
}

.about_1 .position{
    font-family: 'Newyork';
    letter-spacing: 1rem;
    font-size: 2rem;
    position: absolute;
    top: 90px;
    z-index: 6;
}

.about_1 .name{
    font-weight: 700;
    margin-top: 160px;
}

.about_1 li > figure{
    width : 100%;

}

.about_1 li:last-child{
     margin-left: 30px;
}

.about_2{
    margin-top: 133px;
    display: flex;
    align-items: flex-end;
}

.about_2 > div{
    margin-left: 30px;
}

.about_2 > div > span{
    line-height: 1.5;
    font-weight: 300;
}


/*section3 - works*/
#works{
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    
}
#works > h3{
    text-align: center;
    margin-bottom: 200px;
}

#works li {
    display: flex;
    position: relative;
    margin-bottom: 80px;
}

#works li > figure{
    width: 200px;
    height: 240px;
    background-color: #f5f5f5;
    border-radius: 350px 350px 0 0;
    position: absolute;
    left: -10%;
    z-index: -4;
}

#works li > div:nth-child(2){
    margin-right: 180px;
}

#works li > div:nth-child(2) > p{
    font-size: 32px;
    color: #4C6030;
    font-weight: 300;
    margin: 32px 0 16px 0;
}

#works li > div:nth-child(2) > h6{
    color: #4C6030;
    font-weight: 700;
    margin-bottom: 65px;
}

#works li > div:nth-child(2) > span{
    width: 300px;
    display: inline-block;
    line-height: 1.5;
    font-weight: 300;
}

#works li > div:last-child{
    position: relative;
    width: 640px;
    height: 240px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#works li > div:last-child > figure{
    height: 100%;
}

#works li > div:last-child > div {
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    line-height: 240px;
    text-align: center;
    opacity: 0;
    transition: 0.4s ease-out;
}


#works li > div:last-child:hover{
     box-shadow: -10px 10px 100px rgba(0,0,0,0.15);
    transform: translate(10px, -10px);
}

#works li > div:last-child:hover > div{
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
/*    background-color: rgba(79,96,48,0.6);*/
    color: #fff;
}







/*section4 - qna*/ 
#qna{
    padding : 80px 20px;
}

.chat{
    width: 460px;
    height: 680px;
    background-color: #F5F5F5;
    box-shadow: -30px 30px 100px 0 rgba(0,0,0,0.15);
    position: relative;
    
}

.chat::after{
    content: '';
    display: block;
    width: 420px;
    height: 560px;
    background-image: url('../img/section4.jpg');
    position: absolute;
    z-index: -5;
    top : 20%;
    left: 50%;
}



.chat_list {
 padding : 40px;
box-sizing: border-box;
}


.chat_list > li.question{
    transition: all .3s ease-out;
    opacity: 0;
    margin: 0 20px 0 0;
}

.chat_list > li.action_1{
    opacity: 1;
    margin: 0 0 0 20px;
}


.chat_list > li.answer{
    transition: all .3s ease-out;
    opacity: 0;
    margin: 0 0 0 20px;
}

.chat_list > li.action_2{
    opacity: 1;
    margin: 0 20px 0 0;
}

.chat_list .msg_box{
    display: inline-block;
    max-width: 350px;
    padding : 16px;
    box-sizing: border-box;
    line-height: 1.5;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.06em;
    word-spacing: -0.6em;
} 

.answer > .msg_box,
.greeting > .msg_box{
    background-color: #fff;
}

.answer > .msg_box::after,
.greeting > .msg_box::after{
    display: inline-block;
}


.question > .msg_box{
    background-color: #749349;
    float: right;
    margin: 40px 0;
}

.question > .msg_box::after{
    display: inline-block;
    color: #fff;
}

.answer > .msg_box::after{
    display: inline-block;
    white-space: pre;
}

.question.q1 > .msg_box::after{
    content: '효주님의 보유 기술이 궁금해요!';
}

.answer.a1 > .msg_box::after{
    content: 'HTML, CSS, JavaScript 사용 가능하며,\A어도비 포토샵, 일러스트레이터 및\A피그마를 활용한 UI/UX 작업과 협업 가능합니다. ';
}


.question.q2 > .msg_box::after{
    content: '효주님이 생각하는 본인의 강점은 무엇인가요?';
}

.answer.a2 > .msg_box::after{
    content: '디자이너로써의 업무경험과 \A퍼블리셔로써의 업무경험,\A 그리고 백엔드 관련 학습경험을 통해 \A프로젝트를 개발함에 있어 다양한 포지션과\A 원활한 커뮤니케이션이 가능하다는 것이\A저의 가장 큰 장점입니다. \a\a특히, \a디자이너,퍼블리셔,개발자 간의 스케쥴 조율에 있어\a 전체적인 개발 흐름을 파악하는 것이\a신속한 테스팅 진행과\a 프로젝트를 큰 마찰없이 진행할 수 있는\a중요한 포인트라고 생각합니다. ';
}

.question.q3 > .msg_box::after{
    content: '작업 시 가장 중요하게 생각하는 부분이 있나요?';
}

.answer.a3 > .msg_box::after{
    content: '확장성을 고려한 코드 작성도 중요하게 생각하지만,\a약속된 일정에 맞게 작업하는 걸 최우선을 생각합니다.\a\a 스케쥴을 정할 때 수정사항을 처리하는 시간까지\a 감안하여 작업하는 쪽으로 기준을 세우는 편입니다.';
}

.q_list{
    margin-left: 240px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.q_list > h3{
    margin-bottom: 16px;
}

.q_list > ul{
    margin-top: 160px;
}

.q_list > ul > li{
    background-color: #ffffff;
    line-height: 60px;
    width: 420px;
    margin-bottom: 30px;
    border-radius: 3px;
    padding : 0 30px; 
    box-sizing: border-box;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    opacity: 0.6;
    transition: 0.4s;
    text-align: center;
}

.q_list > ul > li:hover{
    background-color: #ffffff;
    transform: translate(-5px,-10px);
    opacity: 1;
}


/*seciton5 - contact*/
#contact > div{
    flex-direction: column;
    justify-content: flex-end;
}

#contact > div > h3{
    margin-bottom: 50px;
}

#contact > div li:nth-child(2){
    margin: 16px 0;
}


/*footer*/
footer{
    text-align: center;
    padding : 80px 20px;
    color: #b6b6b6;
}

