
@import url(../css/custom.css);
@import url(../css/reset.css);


@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Light-subset2.woff2') format('woff2'),
       url('../font/NotoSansKR-Light-subset2.woff') format('woff'),
       url('../font/NotoSansKR-Light-subset2.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Medium-subset2.woff2') format('woff2'),
       url('../font/NotoSansKR-Medium-subset2.woff') format('woff'),
       url('../font/NotoSansKR-Medium-subset.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Bold-subset2.woff2') format('woff2'),
       url('../font/NotoSansKR-Bold-subset2.woff') format('woff'),
       url('../font/NotoSansKR-Bold-subset.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Newyork';
  src: url('../font/Newyork-subset2.woff2') format('woff2'),
       url('../font/Newyork-subset2.woff') format('woff'),
       url('../font/Newyork-subset.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}



html{
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 16px;
    word-spacing: -0.76em;
    letter-spacing: -0.0318em; 
    overflow-x: hidden;
}

.section{
    height: 100vh;
}



/*nav*/
header{
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
}

#menu{
    width: 100%;
    height: 100%;
}

#menu > ul{
    height: 100%;
    float: right;
}

#menu > ul::before{
    content: "";
    display: block;
    clear: both;
}

#menu > ul > li {
    height: 100%;
    display: inline-block;
    margin-left: 40px;
    padding : 20px 0;
    box-sizing: border-box;
    text-align: center;
}


#menu > ul > li > span{
    color : #fff;
    font-size: 15px;
    cursor: pointer;
}

#menu > ul > li > span::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    margin-top: 10px;
    transition: 1s;
}

#menu > ul > li:hover  span::after{
    width : 100%;
}


/*section1 - home*/
#home{
    background-color: var(--main-color);
}

.home-con {
    height: 80%;
    position: relative;
    top : 80px;
}


.home-con .circle{
    width:20px;
    height: 20px;
    border-radius: 100px;
    border : 1px solid #ffffff; 
}

.home-con .line{
    width: 1px;
    height: 230px;
    background-color: #fff;
    margin : 10px 0;
}

#home p{
    font-size: 32px;
    line-height: 20px;
    color: #fff;
    font-family: "Newyork";
    word-spacing: 4px;
    letter-spacing: 0.1px;
    font-weight: 600;
}

.home-con .h-left {
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
}

.home-con .h-left .line{
    transform: rotate(-45deg);
    transform-origin: top;
    margin-left: 20px;
}

.home-con .h-left> div,.home-con .h-right> div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-con .h-left> div{
    margin-right: 20px;
}

.home-con .h-right {
    height: 100%;
    width : 100%;
    position: absolute;
    top : 0;
    left : 0;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.home-con .h-right> div{
    margin-left: 20px;
}

.home-con .h-right .line{
    transform: rotate(-45deg);
    transform-origin: bottom;
    margin-right: 25px;
}




.home-con > div:nth-child(2) > .img_1{
    position: absolute;
    z-index: 10;
    top: -18%;
    left: -15%;
    transform-origin: bottom center;
    animation: play-state 15s linear infinite;
    animation-name: rotate;
}


@-webkit-keyframes rotate{
    20%{
        transform: rotate(72deg);
    }

    40%{
        transform: rotate(144deg);
    }
    
    60%{
        transform: rotate(216deg);
    }
    
    80%{
        transform:rotate(288deg);
    }
    
    100%{
        transform:rotate(360deg);
    }

}



/*section2 - about*/
#about{
    position: relative;
}

#about .bg-circle-1 {
    width:90px;
    height: 90px;
    top : 28%;
    left: 24%;
}


#about .bg-circle-2 {
    width: 300px;
    height: 300px;
    top : 50%;
    left: 22%;
}

.about-con{
    position: relative;
}


.about-con .profile-img{
    position: absolute;
    top :40px;
    left: 23%;
}

.about-con figure{
    background-image: url(../img/selfie2.jpg);
    width: 400px;
    height: 400px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: relative;
    
}

.about-con figure::before{
    content: '';
    display: block;
    position: absolute;
    width : 470px;
    height: 470px;
    border-radius: 50%;
    border : 1px solid var(--main-color);
    opacity: 0.5;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about-con .comment{
    position: absolute;
    top: 150px;
    right: 5%;
}

.about-con .comment::before{
    content: '';
    display: block;
    width:108px;
    height: 1px;
    background-color: var(--main-color);
    opacity: 0.5;
    position: absolute;
    top : 3%;
    left : -45%;

}
.about-con .comment span{
    font-size: 15px;
    display:inline-block;
    width: 273px;
    line-height: 1.25;
    color: var(--gray-defalt);
}

.about-con .comment > span{
    text-transform: uppercase;
    color: var(--main-color);
    letter-spacing: 0.02em;
}

.about-con .comment > p {
    font-size: 3.5rem;
    line-height: 1.25;
    position: relative;
}

.about-con .comment > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
}

.about-con .comment > div > p{
    color: var(--gray-dark-200);
    font-weight: 600;
    padding : 8px 0;
    display: inline-block;
    border-top : 2px solid var(--gray-dark-200);
    margin-bottom: 32px;
}

/* .about_1 > div{
    margin: 0 40px 0 0;
    opacity: 0;
    transition: .8s all ease-out;
}

.about_1>ul{
    margin: 0 0 0 40px;
    opacity: 0;
    transition: .8s all ease-out;
}


#about .on_1{
    margin: 0 0 0 40px;
    opacity: 1;
}

#about .on_2{
    margin: 0 40px 0 0;
    opacity: 1;
} */



/*section3 - works*/

.works-con{
    height: 320px;
    display: flex;
    align-items: flex-end;
    padding-right: 0;
}

.works-con .work-comment{
    min-width: 350px;
    margin-left: 50px;
    /* margin-right: 70px; */
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.works-con .project1.active,
.works-con .project2.active,
.works-con .project3.active{
    display: block;
}

.work-comment h4{
    margin-top: 100px;
}

.work-comment p {
    font-size: 15px;
    max-width : 290px;
    line-height: 1.25;
    margin: 40px 0;
    color: var(--gray-defalt);
} 

.work-comment a {
    color: var(--main-color);
}
.work-comment a::after {
    content:url('../img/link-arrow.svg');
    display: inline-block;
    margin-left: 8px;
} 


.work-slide{
    overflow: hidden;
    width: calc(100% - 290px);
    height: 100%;
    position: relative;
}

.work-slide .slide-list {
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.work-slide .slide-list.active{
    transition: 0.5s ease-out;
}

.work-slide .slide-list li {
    width : 320px;
    height: 320px;
    background-color: #e5e5e5;
    border-radius: 3px;
    margin-right: 40px;
    
}

.work-slide .slide-list li.active{
    opacity: 1;
    transition: 0.3s ease-out;
}

.work-slide .slide-list .slide1{
    background-color: coral;
    opacity: 0.5;
}


.work-slide .slide-list .slide2{
    background-color:darkcyan;
    opacity: 0.5;
}

.work-slide .slide-list .slide3{
    background-color:darkkhaki;
    opacity: 0.5;
}



.btn-wrap{
    height: 80px;
    align-items: flex-end;
    justify-content: center;
}

.btn-wrap .slide-btn{
    align-items: center;
}

.btn-wrap .slide-btn li{
    padding : 0 2rem;
    display: flex;
    align-items: initial;
    opacity: 0.4;
    transition: 0.2s;
    cursor: pointer;
}

.btn-wrap .slide-btn li span{
    color: var(--main-color);
}

.btn-wrap .slide-btn li > img{
    width: 24px;
    height: 24px;
    margin: 0 8px;
}

.btn-wrap .slide-btn li:hover{
    opacity: 1;
}




/*section4 - qna*/ 
#qna{
    position: relative;
}

.chat{
    width: 560px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.chat .chat-title{
    background-color: rgba(11, 187, 198,0.2);
    text-align: center;
}

.chat .chat-title > p{
    color: var(--main-color);
    line-height: 4.375;
    font-weight: 600;
}

.qna_con{
    justify-content: space-between;
}

.chat_list {
 padding : 40px;
box-sizing: border-box;
flex-direction: column;
}

.chat_list > li{
    display: flex;
    align-items: flex-start;
}


.chat_list .selfie{
    background-image: url('../img/selfie.jpg');
    display: inline-block;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-x: -15px;
    background-position-y: -3px;
    margin-right: 8px;
}


.chat_list > li.question{
    transition: all .3s ease-out;
    opacity: 0;
    margin: 0 20px 0 0;
    align-self: flex-end;
}

.chat_list > li.action_1{
    opacity: 1;
    margin: 0 0 0 20px;
    
}

.chat_list > li.greeting,
.chat_list > li.answer{
    transition: all .3s ease-out;
    opacity: 0;
    margin: 0 0 0 20px;
}


.chat_list > li.action_2{
    opacity: 1;
    margin: 0 20px 0 0;
}

.chat_list .msg_box{
    display: inline-block;
    min-width: 230px;
    max-width: 350px;
    padding : 16px;
    box-sizing: border-box;
    line-height: 1.25;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: -0.06em;
    word-spacing: -0.6em;
} 

.answer > .msg_box,
.greeting > .msg_box{
    background-color: var(--gray-light-100);
}

.answer > .msg_box::after,
.greeting > .msg_box::after{
    display: inline-block;
}


.question > .msg_box{
    background-color: var(--main-color);
    float: right;
    margin: 40px 0;
}

.question > .msg_box::after{
    display: inline-block;
    color: #fff;
}

.answer > .msg_box::after{
    display: inline-block;
    white-space: pre;
}

.question.q1 > .msg_box::after{
    content: '효주님의 보유 기술이 궁금해요!';
}

.answer.a1 > .msg_box::after{
    content: 'HTML, CSS, JavaScript 사용 가능하며,\A어도비 포토샵, 일러스트레이터 및\A피그마를 활용한 UI/UX 작업과 협업 가능합니다. ';
}


.question.q2 > .msg_box::after{
    content: '작업 시 가장 중요하게 생각하는 부분이 있나요?';
}

.answer.a2 > .msg_box::after{
    content: '확장성을 고려한 코드 작성도 중요하게 생각하지만,\a약속된 일정에 맞게 작업하는 걸 최우선을 생각합니다.\a\a 스케쥴을 정할 때 수정사항을 처리하는 시간까지\a 감안하여 작업하는 쪽으로 기준을 세우는 편입니다.';
}

.question.q3 > .msg_box::after{
    content: '본인만의 강점은 어떤건가요?';
}

.answer.a3 > .msg_box::after{
    content: '디자이너로써의 업무경험과 \A퍼블리셔로써의 업무경험,\A 그리고 백엔드 관련 학습경험을 통해 \A프로젝트를 개발함에 있어 다양한 포지션과\A 원활한 커뮤니케이션이 가능하다는 것이\A저의 가장 큰 장점입니다. \a\a특히, \a디자이너,퍼블리셔,개발자 간의 스케쥴 조율에 있어\a 전체적인 개발 흐름을 파악하는 것이\a신속한 테스팅 진행과\a 프로젝트를 큰 마찰없이 진행할 수 있는\a중요한 포인트라고 생각합니다. ';
}

.q_list{
    margin-left: 40px;
}

.q_list > h3{
    margin-bottom: 16px;
}

.q_list > ul{
    align-self: flex-start;
    margin-top:50%;
}

.q_list li{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 1.25;
    width: 448px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border-bottom: 1px solid rgba(11, 187, 198,0);
}

.q_list li span{
    transition: 0.2s all ease-in-out;
}

.q_list li .sub_title{
    font-size: 2rem;
}

.q_list li:hover{
    border-bottom: 1px solid var(--main-color);
}

.q_list li:hover span{
    color : var(--main-color);
}


.bg-circle-3{
    width: 950px;
    height: 950px;
    top: -165px;
    left: -260px;
}



/*seciton5 - contact*/

#contact{
    position: relative;
}

#contact p{
    text-align: center;
    font-size: 3rem;
}

.contact-con{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-con li{
    line-height: 1.25;
    margin-bottom: 1em;
}

.contact-con strong{
    margin-left: 1em;
}


.contact-con button{
    border : 1px solid #434343;
    background-color: #fff;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.contact-con button img{
    filter: invert(0%) sepia(19%) saturate(70%) hue-rotate(11deg) brightness(0%) contrast(0%);
    transition: 0.3s all ease-out;
    margin-left: 0.5rem;
}

.contact-con button:hover{
    border : 1px solid var(--main-color);
    background-color: var(--main-color);
    color: #fff;
}

.contact-con button:hover img{
    filter: invert(0%) sepia(19%) saturate(0%) hue-rotate(11deg) brightness(170%) contrast(100%);
}

/*footer*/
#footer{
    text-align: center;
    padding : 80px 20px;
    color:#434343;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bg-circle-4{
    width: 210px;
    height: 210px;
    top : 10%;
    left: 5%;
}

.bg-circle-5{
    width: 950px;
    height: 950px;
    top: 30%;
    right: -20%;
}

