@import url(reset.css);
@import url(custom.css);


@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../portfolio/font/NotoSansKR-Light-subset2.woff2') format('woff2'),
       url('../../portfolio/font/NotoSansKR-Light-subset2.woff') format('woff'),
       url('../../portfolio/font/NotoSansKR-Light-subset.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../portfolio/font/NotoSansKR-Medium-subset2.woff2') format('woff2'),
       url('../../portfolio/font/NotoSansKR-Medium-subset2.woff') format('woff'),
       url('../../portfolio/font/NotoSansKR-Medium-subset.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../portfolio/font/NotoSansKR-Bold-subset2.woff2') format('woff2'),
       url('../../portfolio/font/NotoSansKR-Bold-subset2.woff') format('woff'),
       url('../../portfolio/font/NotoSansKR-Bold-subset.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Newyork';
  src: url('../../portfolio/font/Newyork-subset2.woff2') format('woff2'),
       url('../../portfolio/font/Newyork-subset2.woff') format('woff'),
       url('../../portfolio/font/Newyork-subset.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


body{
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 16px;
    word-spacing: -0.8em;
    letter-spacing: -0.075rem;
    overflow-x: hidden;
}

section{
    padding : 80px 0;
    box-sizing: border-box;
}



/*nav*/
#menu > ul{
    display: flex;
    justify-content: flex-end;
}

#menu > ul > li {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

#menu > ul > li > span{
    display: block;
    padding : 10px;
    box-sizing: border-box;
    cursor: pointer;
}

/*section1 - home*/
#home{
    display: flex;
    justify-content: space-between;
}

#home > div > p{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    word-spacing: -0.7em;
}

#home > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#home > div:nth-child(2) >img{
    margin-bottom: 25px;
    margin-top:64px;
}

#home > div:nth-child(2) > .img_1{
    position: absolute;
    z-index: 10;
    top : -10%;
    transform-origin: bottom center;
    animation: play-state 10s linear infinite;
    animation-name: rotate;
}

@-webkit-keyframes rotate{
    20%{
        transform: rotate(72deg);
    }

    40%{
        transform: rotate(144deg);
    }
    
    60%{
        transform: rotate(216deg);
    }
    
    80%{
        transform:rotate(288deg);
    }
    
    100%{
        transform:rotate(360deg);
    }

}

#home > div:nth-child(2) > .scroll{
    border : 2px solid #9AB871;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #9AB871;
}
#home > div:nth-child(2) > .scroll > img{
    margin-bottom: 10px;
}

#home > div:last-child{
    display: flex;
    align-items: flex-end;
    height: 680px;
}


/*section2 - about*/
.about_1,.about_1>ul, .about_2{
    display: flex;
}

.about_1{
    position: relative;
    justify-content: space-between;
}
.about_1  p{
    text-transform: uppercase;
}

.about_1 .position{
    font-family: 'Newyork';
    letter-spacing: 1rem;
    font-size: 2rem;
    position: absolute;
    top: 90px;
    z-index: 6;
}

.about_1 .name{
    font-size: 3.5rem;
    font-weight: 700;
    word-spacing: -0.8em;
    margin-top: 160px;
}

.about_1 li:last-child{
    margin-left: 30px;
}

.about_2{
    margin-top: 133px;
    display: flex;
    align-items: flex-end;
}

.about_2 > span{
    display: inline-block;
    margin-left: 30px;
    line-height: 1.5;
}



/*section3 - works*/
#works{
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    
}
#works > h3{
    text-align: center;
    margin-bottom: 200px;
}

#works li {
    display: flex;
    position: relative;
    margin-bottom: 80px;
}

#works li > div:first-child{
    width: 200px;
    height: 240px;
    background-color: #f5f5f5;
    border-radius: 350px 350px 0 0;
    position: absolute;
    left: -10%;
    z-index: -4;
}

#works li > div:nth-child(2){
    margin-right: 180px;
}
#works li > div:nth-child(2) > p{
    font-size: 32px;
    color: #4C6030;
    font-weight: 300;
    margin: 48px 0 16px 0;
}

#works li > div:nth-child(2) > h6{
    color: #4C6030;
    font-weight: 700;
    margin-bottom: 65px;
}

#works li > div:nth-child(2) > span{
    width: 300px;
    display: inline-block;
    line-height: 1.5;
}

#works li > img{
    width: 640px;
    height: 240px;
    border-radius: 3px;
    cursor: pointer;
}


/*section4 - qna*/ 
#qna{
    padding : 80px 20px;
}

#qna > .chat{
    width: 460px;
    height: 680px;
    background-color: #F5F5F5;
    box-shadow: -30px 30px 100px 0 rgba(0,0,0,0.15);
    position: relative;
}

#qna > .chat::after{
    content: '';
    display: block;
    width: 420px;
    height: 560px;
    background-image: url('../img/section4.jpg');
    position: absolute;
    z-index: -5;
    top : 20%;
    left: 50%;
}

#qna > .q_list{
    margin-left: 175px;
}

#qna > .q_list > h3{
    margin-bottom: 16px;
}

#qna > .q_list > ul{
    margin-top: 307px;
}

#qna > .q_list > ul > li{
    background-color: #ffffff;
    line-height: 60px;
    width: 485px;
    margin-bottom: 30px;
    border-radius: 3px;
    padding : 0 30px; 
    box-sizing: border-box;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    opacity: 0.7;
    transition: 0.4s;
}

#qna > .q_list > ul > li:hover{
    background-color: #ffffff;
    transform: translate(-5px,-10px);
    opacity: 1;
}


/*seciton5 - contact*/
#contact > div{
    flex-direction: column;
    justify-content: flex-end;
}

#contact > div > h3{
    margin-bottom: 40px;
}

#contact > div li:nth-child(2){
    margin: 16px 0;
}


/*footer*/
footer{
    text-align: center;
    padding : 80px 20px;
    color: #b6b6b6;
}

